.content {
	margin-top: 48px;
}

.sidenav {
	margin-top: 30px;
}

.modal-dialog-center-1 {
    margin-top: 12%;
}

.modal-dialog-center-2 {
    margin-top: 10%;
}

.user_name {
	color: white;
	margin-top: 8px;
}

.alignright {
	position: absolute;
	right: 0px;
}
.adv_group_img {
	width: auto;
	height: 100px;
}

.advocacygroup {
	padding: 10px 10px 10px 10px;
	float: left;
}

.advocacygroupimg {
	width: auto;
	height: inherit;
}

.advocacygroupdescription {
	margin-left: 110px;
}