.content {
	margin-top: 48px;
}

.sidenav {
	margin-top: 30px;
}

.modal-dialog-center-1 {
    margin-top: 12%;
}

.modal-dialog-center-2 {
    margin-top: 10%;
}

.user_name {
	color: white;
	margin-top: 8px;
}

.alignright {
	position: absolute;
	right: 0px;
}
.adv_group_img {
	width: 150px;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

div.advgroup {
	margin: 10px 20px 10px 0px;
	padding: 10px 10px 10px 10px;
	float: left;
	width: 200px;
	height: 250px;
	border: 2px solid;
	border-color: lighten(@gray-light, 50%);
	border-radius: 2px;
}

a.advgroup {
	font-size: 16px;
}

img.votexlogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
	height: auto;
}

div.votextxtcontainer {
	margin-top: 50px;
	height: auto;
}

body.homepage {
	background-image: url("../img/bg.jpg");
	background-size: cover;
	background-attachment: fixed;
    background-position: bottom; 
    background-filter: alpha(opacity=40);
}

div.white {
	background-color: white;
}

.containermid {
	background-color: white;
}

div.transbox {
	background-color: rgba(255,255,255,1);
	height: 600px;
	padding: 10px 10px 10px 10px;
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.3);
}

a.center {
    left: 25%;
    position:relative;
}

div.center {
    left: 10%;
    position:relative;
}

// body{
//     background:#eee;    
// }

#david {
	width: 150px;
	height: auto;
	border-radius: 0px;
	filter: grayscale(1);
}

.contact {
	width: 170px;
	padding: 10px 10px 10px 10px;
}

.sidenav2 {
	margin-top: 50px;
}